/* This changes all the animations globaly */
:root {
  --animate-duration: 10000ms;
  --animate-delay: 5s;
}
body {
  font: normal 2em/1.5em "Helvetica Neue", Arial, sans-serif;
  color: #fff;
}

button.btn {
  margin-top: 40px;
  background: #66bb6a;
  border-radius: 4px;
}
.fourth button {
  margin-top: 20px;
}
#fp-nav ul li a span {
  background: #fff;
}
#cssmenu .logo_mba_container {
  padding: 11px 0px 7px 0px;
  width: 70%;
  margin-left: 124%;
}
#cssmenu .li_logo_mba_container {
  width: 9%;
}
#cssmenu .inicio_container {
  padding: 29px 31px 26px 222%;
}
#cssmenu .li_descarga_menu_container {
  float: right;
}
#cssmenu .btn_descarga_menu_container {
  margin-right: 53%;
}


.bg_blue {
  background-color: #112645;
  text-align: center;
}
.logo_mba {
  width: 100%;
}
.btn_descarga_menu {
  width: 100%;
}
.title_first_page {
  width: 44%;
  margin-top: 1%;
}
.subtitle_first_page {
  font-size: 122%;
  margin-top: 0;
}
.text_white {
  color: white;
}
.text_green {
  color: #00eb9f;
}
.event_date {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;

  padding:0;
  margin-left: 1px;
  display: inline-block;
  vertical-align: top;
  line-height: 35px;
}
.event_date_one_line {
  height: 35px;
}
.logo_zoom {
  width: 10%;
  margin-top: 1%;
}
.reserva_text {
  font-size: 66%;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10%;
}
.text-second-page {
  font-size: 50%;
  line-height: normal;
}
.first-half-second-page {
  width: 50%;
  float: left;
  text-align: justify;
  margin-left: 10%;
  width: 46%;
  margin-top: 5%;
}
.first-half-second-page .logo_mba {
  width: 25%;
  margin-left: -1.23%;
}
.second-half-second-page img {
  width: 32%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 2%;
}
/* Video */
#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
   background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
     object-fit: cover; /*cover video background */
     z-index:3;
}

#section0 .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 0;

  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#section4 .layer {
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
}
#section4 .layer img {
  position: absolute;
  top: -380px;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: auto;
}
#sectionFourth .layer {
  position: relative;
  left: 0;
  top: 0;
  z-index: 3;
}
#sectionFourth .layer img {
  position: absolute;
  top: -290px;
  left: 7%;
  width: 83vw;
}
#sectionFourth {
  overflow: hidden;
}
#section4{
  overflow: hidden;
}

/*solves problem with overflowing video in Mac with Chrome */
#section0{
  overflow: hidden;
}
.section{
  text-align:center;
  overflow: hidden;
}
video#myVideo:after {
	content: '';
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}
/*
.separadores {
  width: 100%;
  position: absolute;
  left: inherit;
  top: 25%
}
.on-menu-logo {
  position: absolute;
  top: 2%;
  left: -7%;
  visibility: visible;
  z-index: 1;
  bottom: 0%;
}
.on-menu-logo img {
  width: 22%;
  margin: 0;
}
.on-menu-inicio {
  position: absolute;
  top: 3%;
  left: 22%;
  visibility: visible;
  z-index: 1;
}
.on-menu-inicio a {
  color: #14213d;
  text-decoration: none;
  font-size: 72%;
}
.on-menu-descargar {
  position: absolute;
  top: 3.5%;
  right: 5.5%;
  visibility: visible;
  z-index: 1;
}
.on-menu-descargar a img {
  width: 50%;
}
.bg-third-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 110%;
  visibility: visible;
  z-index: 1;
}
.one_line_text {
  height: 100px;
}
.one_text_date {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding:0;
  margin-left: 1px;
  display: inline-block;
  vertical-align: top;
  line-height: 100px;
  font-size: 500%;
  letter-spacing: -7px;
}
.one_text {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding:0;
  margin-left: 1px;
  display: inline-block;
  vertical-align: top;
  line-height: 28px;
  width: 21%;
  text-align: initial;
  font-size: 72%;
  margin-top: -3px;
}
.text_left {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-left: 1px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 43%;
  width: 25%;
  line-height: 21px;
}
.text_right {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
  padding: 0;
  margin-left: 104px;
  display: inline-block;
  vertical-align: top;
  line-height: 21px;
  width: 30%;
  text-align: initial;
  font-size: 39%;
}
.one_line_text_2 .vs {
  width: 10%;
}
.one_line_text_2 .esencial {
  width: 22%;
}
.one_line_text_3 .no_esencial {
  width: 27%;
}
.pagina {
  width: 100%;
}
.pagina_4 {
  width: 100%;
  margin-bottom: -3%;
  height: 107%;
}
section.section.fourth.bg_blue.align-center {
  margin-bottom: -1% !important;
}
.pregunta_text {
  font-size: 120%;
  width: 60%;
  text-transform: uppercase;
  margin-top: 20%;
  font-weight: 600;
  margin-top: 15%;
  margin: auto;
  letter-spacing: 9px;
  line-height: 110%;
  margin-bottom: 5%;
}
#sectionPregunta .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 45%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
*/

/*solves problem with overflowing video in Mac with Chrome 
#sectionPregunta{
  overflow: hidden;
}
.pregunta_text_2 {
  font-size: 120%;
  width: 71%;
  text-transform: uppercase;
  margin-top: 20%;
  font-weight: 600;
  margin-top: 15%;
  margin: auto;
  letter-spacing: 9px;
  line-height: 110%;
  margin-bottom: 3%;
}
#sectionPregunta2 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 36%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
#sectionPregunta3 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 35%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.pregunta_text_3 {
  font-size: 120%;
  width: 66%;
  text-transform: uppercase;
  margin-top: 20%;
  font-weight: 600;
  margin-top: 15%;
  margin: auto;
  letter-spacing: 9px;
  line-height: 110%;
  margin-bottom: 3%;
}
*/





#cssmenu {
  height: 9%;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index:100;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: rgb(17,38,69);
  background: linear-gradient(90deg, rgba(17,38,69,1) 0%, rgba(0,235,159,1) 100%);
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px 5px 17px 12px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #112645;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #112645;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #112645;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  background: #004D95;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #fff;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #fff;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #fff;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #fff;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
body {
    height:1000px;
    background:#eee;
    margin:0;padding:0;
    padding-top:46px;
}
#cssmenu {
    position:absolute;
    width:100%;
    top:0;
}

